<footer class="footer bg-dark py-3 mt-auto sticky-bottom text-center ">
    <div class="container">
        <span class="text-muted">&copy; Sarmad Bank 2022 : THE SPARKS FOUNDATION</span>
    </div>
</footer>